/* Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
/* body{
    background-color: #F2E6D8;
} */
/*     header    */
/* .nav-bg{
    background-image: url(./../img/cork-board.webp);
    background-repeat: repeat;
    width: 100%;
}  
.menu-button:focus{
    box-shadow: none;
}  
.menu-icon{
    background-image: url(./../img/menu-hamburguesa.svg);
}
.menu{
    flex-grow: 0; 
} 
.barra-ul{
    list-style: none;
    display: flex;
    column-gap: 5px;
} 
.barra-ul li a {
    color: #F2F2F0;
    text-decoration-line: none;
    font-family: "Poppins", sans-serif;
    font-size: x-large;
    font-weight: bolder;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #8C6B42;
    border: 1px solid #F2F2F0;
}
.barra-ul li a:hover{
    background-color: transparent;
} */
/* main index */
/* .baner{
    width: 100%;
} 
.titulo-principal{
    color: #F2F2F0;
    background-color: #8C6B42;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: xx-large;
    text-align: center;
}
.contenedor-principal{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-items: center;
}
.carta{
    width: 300px;
    height: 300px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 10px 10px 6px -1px rgba(140,107,66,0.75);
    padding: 15px;
    margin: 15px;
}
.carta img{
    width: 100%;
    height: 200px;
}
.carta-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100px;
}
.carta-texto, .datos, .carta-nosotros-texto{
    font-family: "Poppins", sans-serif;
    font-size: medium;
    color: #8C6B42; 
}
.fuente{
    font-size: medium;    
}
.contenedor{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    justify-items: center;
} */
/*   page nosotros   */
/* .carta-nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.carta-nosotros-foto{
    margin: 20px;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 10px 10px 6px -1px rgba(140,107,66,0.75);
}
.carta-nosotros-texto{
    margin-bottom: 35px;
    padding: 10px;
} */
/*    page contacto      */
/* .contenedor-datos{
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.datos{
    display: block;
    width: 500px;
    height: 300px;
    border: 1px solid #8C6B42;
    border-radius: 25px;
    box-shadow: 10px 10px 6px -1px rgba(140,107,66,0.75);
    margin: 30px;
    padding: 20px;
}
.datos-1{
    display: flex;
    justify-content: space-between;
    padding: 1px;
}
.datos-2{
    display: flex;
    flex-direction: column;
}
.imput-size{
    width: 250px;
    height: 20px;  
}
.textarea{
    width: 450px;
    height: 140px;
}
.enviar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
} */
/* footer */
/* 
.footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    padding-top: 20px;
    margin: 20px;
}
.mapa{
    overflow: hidden;
    height: 250px;
    width: 400px;
}
.texto-footer ul li{
    list-style: none;
}
.texto-footer, .redes-texto{
    font-family: "Poppins", sans-serif;
    font-size: medium;
    color: #8C6B42;
} */

/* media query para tablet */
/*@media screen and (max-width: 1024px){*/
    /* header */
    /* .barra-ul{
        align-items: center;
        background-color: #8C6B42;
        border: 1px solid #F2F2F0;
    } 
    .barra-ul li a{
        border: none;
        background-color: none;
    } */
    /* main index*/
    /* .contenedor-principal{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        justify-items: center;
    }  */
    /* main */
    /* .contenedor{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        justify-items: center;
    } */
    /* footer */
    /* .footer{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
        "mapa texto-footer"
        "redes redes";
    }
    .mapa{
        grid-area: mapa;
    }
    .texto-footer{
        grid-area: texto-footer;
    }
    .redes{
        grid-area: redes;
    } 
}*/

/*Media query para mobile*/
/* @media screen and (max-width: 768px){
    .contenedor-principal{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
    }
    .contenedor{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        justify-items: center;
    }
    .footer{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "mapa"
        "texto-footer"
        "redes";
    }
} */