// main bebidas
.main-bebidas {
    .contenedor {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        justify-items: center;
        .carta {
            width: nth($list: $medidas, $n: 3);
            height: nth($list: $medidas, $n: 3);
            border-radius: 25px;
            overflow: hidden;
            box-shadow: 10px 10px 6px -1px rgba(140, 107, 66, 0.75);
            padding: 15px;
            margin: 15px;
            img {
                width: 100%;
                height: nth($list: $medidas, $n: 2);
            }
        }
        .carta-texto {
            // display: flex;
            // flex-direction: column;
            // align-items: center;
            // justify-content: center;
            @include flex (column, center, center);
            text-align: center;
            height: nth($list: $medidas, $n: 1);
            font-family: "Poppins", sans-serif;
            font-size: medium;
            color: $color-secundario;
            .fuente {
                font-size: medium;
            }
        }
    }
}
