// main index
.main-index{
    section{
        .baner{
            width: 100%;
        }
    }
    section{
        .contenedor-principal{
            display: grid;
            grid-template-columns: repeat(2, auto);
            justify-items: center;
            .carta{
                width: nth($list: $medidas, $n: 3);
                height: nth($list: $medidas, $n: 3);
                @extend %estilos-card;
                img{
                    width: 100%;
                    height: nth($list: $medidas, $n: 2);
                }
                .carta-texto{
                    font-family: "Poppins", sans-serif;
                    font-size: medium;
                    color: $color-secundario;
                    @include flex (column, center, center);
                    text-align: center;
                    height: nth($list: $medidas, $n: 1);
                    .fuente{
                        font-size: medium;    
                    }
                }
            }
        }
    }
}