// main nosotros
.main-nosotros{
    .carta-nosotros{
        @include flex (column,center, normal);
        .carta-nosotros-foto{
            margin: 20px;
            padding: 20px;
            border-radius: 25px;
            box-shadow: 10px 10px 6px -1px rgba(140,107,66,0.75);
        }
        div{
            .carta-nosotros-texto{
                margin-bottom: 35px;
                padding: 10px;
                font-family: "Poppins", sans-serif;
                font-size: medium;
                color: $color-secundario; 
            }
        }
    }
}