// Estilos globales
body{
    background-color: #F2E6D8;
}
.titulo-principal{
    color: #F2F2F0;
    background-color: #8C6B42;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: xx-large;
    text-align: center;
}