// Estilos globales
body{
    background-color: $color-primario;
}
.titulo-principal{
    color: $color-terciario;
    background-color: $color-secundario;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: xx-large;
    text-align: center;
}